

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    image: frontend:v1
    container_name: frontend

networks:
  default:
    driver: bridge
    name: roboshop
    external: true
      