version: "3.8"

services:
  mongodb:
    build:
      context: .
      dockerfile: Dockerfile.mongodb
    image: mongodb:v1
    container_name: mongodb

networks:
  default:
    driver: bridge
    name: roboshop
    external: false
      