

services:
  catalogue:
    build:
      context: .
      dockerfile: Dockerfile
    image: catalogue:v1
    container_name: catalogue
    depends_on:
    - mongodb
  mongodb:
   container_name: mongodb  

networks:
  default:
    driver: bridge
    name: roboshop
    external: true
      